<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Área Administrativa-Sistema Escolar - <%=titulo%>
    </title>
    <link rel="stylesheet" href="./CSS/style.css">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <link rel="stylesheet" href="/CSS/style.css">

</head>

<body class="">
   
    <header class="bg-black sticky top-0 z-50 shadow-xl p-4">
        <div class="container mx-auto px-4 py-4 flex justify-between items-center">
            <div class="flex items-center">

                <h1 class="text-2xl font-bold text-yellow-400 ml-2">BatPapel</h1>
            </div>
            <nav class="space-x-6">
                <a href="/admin/dashboard" class="text-yellow-400 hover:text-white transition">Início</a>
                <a href="/" class="text-yellow-400 hover:text-white transition">Sobre</a>
                <a href="/produtos/listar" class="text-yellow-400 hover:text-white transition">Produtos</a>
                <a href="/categorias/listar" class="text-yellow-400 hover:text-white transition">Categorias</a>
                <a href="/usuarios/listar" class="text-yellow-400 hover:text-white transition">Usuarios</a>
                <a href="/admin/logout" class="text-yellow-400 hover:text-white transition hover:bg-red-700 hover:text-black px-6 rounded-full py-2 m-6 uppercase">Sair</a>
            </nav>
        </div>
        
    </header>
</body>

</html>