<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Área Administrativa-Sistema Escolar - <%=titulo%>
    </title>
    <link rel="stylesheet" href="./CSS/style.css">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <link rel="stylesheet" href="/CSS/style.css">

</head>

<body class="">

    <header class="bg-black sticky top-0 z-50 shadow-xl p-4">
        <div class="container mx-auto px-4 py-4 flex justify-between items-center">
            <div class="flex items-center">

                <h1 class="text-2xl font-bold text-yellow-400 ml-2">BatPapel</h1>
            </div>
            <nav class="space-x-6">
                <a href="/admin/dashboard" class="text-yellow-400 hover:text-white transition inline-block"><div class="flex gap-1"><img src="/img/pngegg.png" alt="" class="h-5 mt-0.5">Início</div></a></a>
                <a href="/sobre" class="text-yellow-400 hover:text-white transition inline-block"><div class="flex gap-1"><img src="https://icones.pro/wp-content/uploads/2021/05/icone-d-information-grise.png" alt="" class="h-5 mt-0.5">Sobre</div></a>
                <a href="/produtos/listar" class="text-yellow-400 hover:text-white transition inline-block"><div class="flex gap-1"><img src="https://icones.pro/wp-content/uploads/2021/05/icone-de-panier-gris.png" alt="" class="h-5 mt-0.5">Produtos</div></a>
                <a href="/categorias/listar" class="text-yellow-400 hover:text-white transition inline-block">
                    <div class="flex gap-1"><img
                            src="https://images.icon-icons.com/2483/PNG/512/document_category_icon_149943.png" alt=""
                            class="h-5 mt-0.5">Categorias</div>
                </a>
                <a href="/usuarios/listar" class="text-yellow-400 hover:text-white transition inline-block">
                    <div class="flex gap-1"><img src="https://images.icon-icons.com/2483/PNG/512/user_icon_149851.png"
                            alt="" class="h-5 mt-0.5">Usuarios</div>
                </a>
                <a href="/admin/logout"
                    class="text-yellow-400 hover:text-white transition hover:bg-red-700 hover:text-black px-8 rounded-full py-2 mb-8 uppercase">Sair</a>
            </nav>
        </div>

    </header>
</body>

</html>