html,
body {
    
    height: 100%;
    margin: 0;
    padding: 0;
}

.content-wrapper {
   
    flex-grow: 1;
}

.btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}


.lista-cards {
    display: flex;
    margin: 20px;
    gap: 20px;
    flex-wrap: wrap;

}

.card-produto {
    background-color: #fff;
    width: 200px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}

.card-produto img {
    width: 96px;
    height: 96px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}

.btn-edit {
    background-color: #a7a728;
    color: white;
    border: none;
    display: flex;
    padding: 5px 10px;
}

.btn-delete {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
}


.paginacao {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
}

.btn-paginar {
    padding: 5px 15px;
    background-color: #fac400;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;

}

.btn-paginar:hover {
    background-color: #e0ac00;
}